.heatmapControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .3em;
    border-bottom: 1px solid grey;
}

.heatmapControl * {
    margin: .5em;
}

.heatmapName {
    margin-right: 3em;
}

.toggleHeatmapOptions {
    justify-content: left;
}

